@page "/products"
@inject HttpClient client
@inject IConfiguration configuration
<h3>Products</h3>



@code {
	private List<Product> ProductList = new List<Product>();

	protected override async Task OnInitializedAsync()
	{
		var productsApi = configuration.GetSection("ConnectionStrings").GetValue<string>("ProductsApi");

		var productList = await client.GetFromJsonAsync<List<Product>>($"{productsApi}/Products");

		await base.OnInitializedAsync();

	}

}




